<!DOCTYPE html>
<html>

<head>
    <title>Home | Movie Labz | Online Store</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="stylesheet" href="CSS/main.css">

    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Movie Labz</h1>
                    <p>
                        <img class="btn m-1" alt="image" src="Images/background.jpeg" height="120" width="100">
                        <a class="btn btn-primary m-1" href="index.html">Home</a>
                        <a class="btn btn-primary m-1" href="checkout.html">My Cart</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <nav class="navbar-expand">

                <div class="navbar-collapse">


                    <a class="btn btn-outline-primary m-2" href="contact.html">Contact</a>
                    <a class="btn btn-outline-primary m-2" href="theater.html">In Theaters</a>
                    <a class="btn btn-outline-primary m-2" href="newrelease.html">New Releases</a>
                    <a class="btn btn-outline-primary m-2" href="bestsellers.html">Best Sellers</a>

                    <div class="dropdown">
                        <a><button class="dropbtn btn btn-outline-primary m-2" href="footers.html">Genres <img alt="image" src="Images/downarrow.png" height="8 "></button> </a>
                        <div class="dropdown-content col">
                            <a href="comedy.html">Comedy</a>
                            <a href="horror.html">Horror</a>
                            <a href="action.html">Action/Adventure</a>
                            <a href="war.html">War</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>

</head>

<body>


    <footer class="mt-5">
        <div class="container">
            <div class="row">
                <img alt="image" src="Images/background.jpeg" height="80" width="70">
                <div class="col-12 col-md-9">
                    <a class="nav-link" href="about.html">About Us</a>
                </div>
                © 2018 Movie Labs
            </div>
        </div>
    </footer>

</html>
